// variables
$cardBorder: 1px solid #333333;
$cardRadius: 5px;
$cardPadding: 5px;
$cardBackColor: #DDDDDD;
$titleFontSize: 15px;
$titleColor: #FFFFFF;
$contentFontSize: 13px;
$inputSize: 21px;
$buttonWidth: 104px;
$imageSize: 30px;
$imageRadius: 50%;
$statsPadding: 2px;
$statsBorder: 1px solid #AAAAAA;
$statsBackColor: #CCCCCC;
$statsMinWidth: 32px;

* {
	font-family: "Roboto", "Segoe UI", "Trebuchet MS", "Tahoma", "Arial", "Helvetica", "Consolas";
}

*::-webkit-scrollbar {
	width: 0;
}

body {
	margin: 0;
	padding: 0;
}

input[type=text] {
	width: 110px;
}

select {
	height: $inputSize;
}

#myCanvas {
	position: fixed;
}

#playSvg {
	border-radius: $imageRadius;
	background-color: rgb(0, 0, 0, 0.25);
	background-image: url("../images/play-circle.svg");
	background-size: cover;
	opacity: 0.9;
}

#source, #target {
	
}

#commanderDiv {
	
}

#commander {
	
}

#relevantStats, #assistedStats {
	vertical-align: middle;
	height: 41px;
}

#unitsDiv {
	
}

#officersDiv, #assistDiv {
	visibility: hidden;
}

#alertCard {
	position: fixed;
	top: 7vh;
	left: 50%;
	transform: translateX(-50%);
	max-height: 80vh;
	overflow-y: auto;
	border: $cardBorder;
	border-radius: $cardRadius;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	background-color: $cardBackColor;
	padding: 14px 24px;
	font-size: $titleFontSize;
	z-index: 1000;
	opacity: 0;
	transition: opacity 0.2s ease-out;
	pointer-events: none;
}

#alertCard.show {
	opacity: 1;
}

.reportSection {
	text-align: center;
}

.reportHeader {
	margin-bottom: 5px;
	border-radius: 4px;
	background: $statsBackColor;
	padding: 3px;
	font-weight: bold;
	color: #8B0000;
}

.compactList {
	display: grid;
	grid-template-columns: repeat(3, minmax(100px, 1fr));
	gap: 3px;
}

.compactList div {
	font-size: $contentFontSize;
}

#importUpload {
	display: none;
}

.importUpload {
	display: inline-block;
	border: 1px solid #767676;
	border-radius: 1px;
	padding: 2px 6px;
	background-color: #0F8223;
	color: $titleColor;
}

.importUpload:hover {
	background-color: #0F9223;
}

.playerCard, .hoverCard, .selectCard, .cityCard, .marchCard, .devCard, .unitCard, .officerCard, .deployedCard, .infoCard, .importCard {
	position: fixed;
	border: $cardBorder;
	border-radius: $cardRadius;
	background-color: $cardBackColor;
	visibility: hidden;
	cursor: default;
	opacity: 0.95;
}

.playerCard, .hoverCard, .marchCard, .devCard, .unitCard, .officerCard, .infoCard, .importCard {
	overflow-x: hidden;
	overflow-y: auto;
}

.forceName, .cityName, .unitName, .title {
	padding: $cardPadding;
	font-size: $titleFontSize;
	font-weight: bold;
	color: $titleColor;
}

.playerName {
	display: table-cell;
	padding: 3px;
	border-radius: $cardRadius;
	font-size: 14px;
	font-weight: bold;
	color: $titleColor;
}

.allyColor {
	background-color: #4F1E02;
	background-image: linear-gradient(to bottom right, #1F0B01, #7E3316);
}

.enemyColor {
	background-color: #FF1E02;
	background-image: linear-gradient(to bottom right, #AF0B01, #DE3326);
}

.neutralColor {
	background-color: #888888;
}

.clipPortrait {
	height: $imageSize * 5 / 4;
	clip-path: inset(10% 15% 20% 15% round 10%);
}

.smallPortrait {
	height: $imageSize;
	border-radius: $imageRadius;
}

.bigPortrait {
	height: $imageSize * 2;
	border-radius: $imageRadius;
}

.timeSpace {
	padding: $cardPadding;
	font-size: $titleFontSize;
	font-weight: bold;
	color: $titleColor;
}

.forceSquare {
	display: inline-block;
	padding: 4px;
	border: 2px solid #555555;
	border-radius: 2px;
}

.cityInfo, .unitInfo {
	padding: $cardPadding;
	font-size: $contentFontSize;
}

.cityStats {
	border-collapse: collapse;
	font-size: $contentFontSize;
}

.cityStats tr th {
	padding: $statsPadding;
	border: $statsBorder;
	background-color: $statsBackColor;
}

.cityStats tr td {
	padding: $statsPadding;
	border: $statsBorder;
	text-align: right;
}

.forceContent, .playerContent, .selectContent, .cityContent, .marchContent, .devContent, .unitContent, .officerContent, .deployedContent, .importContent {
	padding: $cardPadding;
	font-size: $contentFontSize;
}

.playerContent {
	display: grid;
	grid-template-columns: $imageSize * 2 225px auto;
	grid-template-areas: "portrait profile";
}

.playerPortrait {
	grid-area: portrait;
}

.playerPortrait input {
	width: 100%;
}

.playerProfile {
	grid-area: profile;
	padding-left: $cardPadding;
}

.selectContent input, .cityContent input, .deployedContent input, .buttonsGroup .buttons input {
	display: block;
	width: $buttonWidth;
	height: $inputSize;
}

.marchContent, .devContent, .unitContent, .officerContent, .importContent {
	display: grid;
	place-items: center;
}

.buttonsGroup {
	position: relative;
}

.buttonsGroup > input {
	padding: 0;
	height: $inputSize;
	background-color: $cardBackColor;
	border: $statsBorder;
}

.buttonsGroup .buttons {
	display: none;
	position: absolute;
	top: 0;
	left: $buttonWidth;
}

.buttonsGroup:hover .buttons {
	display: block;
}

.stats {
	border-collapse: collapse;
}

.stats th {
	padding: $statsPadding;
	border: $statsBorder;
	min-width: $statsMinWidth;
	background-color: $statsBackColor;
	text-align: center;
	white-space: nowrap;
}

.stats td {
	position: relative;
	padding: $statsPadding;
	border: $statsBorder;
	min-width: $statsMinWidth;
	text-align: right;
	white-space: nowrap;
}

.stats tr:hover td .float {
	visibility: visible;
}

.float {
	position: absolute;
	left: 91%;
	top: 50%;
	transform: translate(0, -42%);
	visibility: hidden;
}

.sortable {
	position: relative;
}

.sortable:hover span {
	visibility: hidden;
}

.sortable:hover:before {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	content: "";
	background-image: url('../images/down.png');
	background-size: $titleFontSize $titleFontSize;
	width: $titleFontSize;
	height: $titleFontSize;
}

.checkboxes {
	border: 1px solid #000000;
	background-color: #FFFFFF;
	max-width: 292px;
	white-space: nowrap;
}

.checkboxes label {
	display: block;
	position: relative;
	overflow-x: hidden;
}

.checkboxes label:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}

.checkboxes label input {
	float: left;
}

.checkboxes label div {
	width: 30px;
	float: left;
	padding-top: 1px;
}

.officerCB {
	width: 105px !important;
}

.typeCB {
	width: 80px !important;
}

.strengthCB {
	width: 50px !important;
}

.bold {
	font-weight: bold !important;
}

.left {
	text-align: left !important;
}

.center {
	text-align: center !important;
}

.right {
	text-align: right !important;
}