* {
	margin: 0;
	padding: 0;
	font-family: "Helvetica", "Tahoma", "Segoe UI", "Trebuchet MS", "Verdana";
	font-size: 13px;
}

body {
	position: relative;
}

table {
	margin: 4px auto;
	padding: 4px;
	border-radius: 4px;
	background-color: #E1E1F1;
}

td {
	min-width: 50px;
	text-wrap: nowrap;
}

input[type=checkbox] {
	vertical-align: middle;
}

svg {
	padding-top: 2px;
	width: 20px;
	height: 20px;
}

#header {
	background-color: #6B6B7B;
	display: flex;
	justify-content: center;
}

#filter, #game, #mode {
	margin: 12px;
	padding: 3px;
	border-radius: 3px;
}

#container {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
}

#popup {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
}

#logo {
	position: fixed;
	bottom: 15px;
	right: 15px;
	box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.24), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
	border-radius: 50%;
	padding: 8px 8px 7px 7px;
	background-color: #882222;
	color: #FFFFFF;
	font-weight: bold;
}

.message {
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 4px;
	box-shadow: 0px 2px 4px #000;
	border-radius: 4px;
	background-color: #C9C9D9;
	width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 4px;
}

.warrior {
	margin: 4px;
	border-radius: 4px;
	background-color: #6B6B7B;
	width: 300px;
	padding: 4px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 4px;
}

.name {
	padding: 4px;
	border-radius: 4px;
	background-color: #3D3D4D;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
}

.weapon {
	padding: 4px;
	border-radius: 4px;
	background-color: #ABABBB;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 4px;
}

.weapon:hover {
	opacity: 0.9;
}

.weapon div {
	border-radius: 4px;
}

.wName {
	position: relative;
	padding: 4px;
	background-color: #E2E2F2;
	font-weight: bold;
}

.tag {
	position: absolute;
	left: 4px;
	padding: 2px 3px 2px 3px;
	border-radius: 2px;
	background-color: #3D3D4D;
	font-size: 11px;
	color: #FFFFFF;
}

.wDesc {
	padding: 4px;
	background-color: #E2E2F2;
}

.wImage img {
	border-radius: 4px;
	width: 104px;
	height: 78px;
}

.stats {
	padding: 4px;
	background-color: #E2E2F2;
}

.stat {
	display: inline-block;
	margin: 4px;
	padding: 4px;
	background-color: #F0F0FF;
	font-size: 12px;
}

.stage {
	font-size: 14px;
	font-weight: bold;
}

.requirement {
	font-size: 14px;
}
