$sansSerif: "Tahoma", "Segoe UI", "Trebuchet MS", "Arial", "Helvetica";
$fontSize: 13px;
$bodyColor: #222;
$backColor: #233;
$backHoverColor: #405050;
$fontColor: #FFF;
$fontTotalColor: #FC8;
$border: 1px solid #577;
$borderRadius: 5px;

* {
	color: $fontColor;
}

body {
	margin: 0;
	padding: 0;
	background-color: $bodyColor;
	font-size: $fontSize;
}

table {
	font-family: $sansSerif;
	font-size: $fontSize;
}

a {
	color: $fontTotalColor;
}

input[type=search], select {
	border: $border;
	background-color: $bodyColor;
}

#container {
	
}

#left {
	float: left;
	margin: 5px 0 0 5px;
	padding: 15px;
	width: 380px;
	border: $border;
	border-radius: $borderRadius;
	background-color: $backColor;
}

#name {
	padding: 1px 2px 2px 5px;
	width: 120px;
	font-family: $sansSerif;
	font-size: $fontSize;
}

#skill, #sort, #order {
	padding: 0px 2px 1px 2px;
	font-family: $sansSerif;
	font-size: $fontSize;
}

#skill {
	cursor: pointer;
}

#output {
	float: left;
	margin: 5px 0 0 5px;
	border-radius: $borderRadius;
}

.data {
	border-collapse: collapse;
}

.data th {
	padding: 4px 7px 4px 5px;
	border: $border;
	background-color: $backColor;
	cursor: pointer;
}

.data th:hover {
	background-color: $backHoverColor;
}

.data td {
	padding: 3px 7px 5px 5px;
	border: $border;
	background-color: $backColor;
}

.data tr:hover td {
	background-color: $backHoverColor;
}

.number {
	text-align: right;
}

.total {
	color: $fontTotalColor;
}

#displayContainer {
	float: left;
	margin: 5px 0 0 5px;
	display: none;
}

#display {
	position: fixed;
	top: 5px;
	padding: 15px;
	box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.48), 0 0px 10px 0 rgba(0, 0, 0, 0.29);
	border: $border;
	border-radius: $borderRadius;
	background-color: $backColor;
	font-family: $sansSerif;
	font-size: $fontSize;
}

.displayName {
	padding: 5px;
	border-top: 1px solid $backColor;
	border-bottom: $border;
	background-color: #3b3b3b;
	text-align: center;
	color: $fontColor;
}

.displayPortrait {
	
}

.displaySkill {
	padding: 2px 2px 3px 2px;
	border: 1px solid $backColor;
	width: 50px;
	background-color: #777;
	text-align: center;
	color: #A0A0A0;
}

.domesticSkill {
	background-color: #55A;
	color: $fontColor;
}

.battleSkill {
	background-color: #A55;
	color: $fontColor;
}

.tacticSkill {
	background-color: #A5A;
	color: $fontColor;
}

.duelSkill {
	background-color: #B88;
	color: $fontColor;
}

.debateSkill {
	background-color: #AA5;
	color: $fontColor;
}

.renownSkill {
	background-color: #5A5;
	color: $fontColor;
}

.stat {
	border-collapse: collapse;
}

.stat th {
	padding: 4px 7px 4px 5px;
	background-color: #3D3D3D;
}

.stat td {
	padding: 3px 7px 5px 5px;
	background-color: #505050;
}

@media (pointer:none), (pointer:coarse) {
	#left {
		float: none;
		margin: 5px;
		width: auto;
	}
	
	#output {
		float: none;
		margin: 5px;
		width: auto;
	}
	
	#display {
		top: 0;
		left: 0;
		right: 0;
		border-radius: 0;
	}
	
	.displaySkill {
		
	}
}